@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Funzionalità Varie";
}


<h1 class="mt-5 text-center">Altre Funzionalità</h1>

<div class="d-flex justify-content-around align-content-center p-5 ">
    <a asp-controller="Info" asp-action="TrasgressoriData" class="btn btn-success d-block fs-4">Totale Verbali e Decurtazione Punti</a>
    <a asp-controller="Info" asp-action="MaggioreDieciPunti" class="btn btn-success d-block fs-4">Decurtamento di oltre 10 Punti</a>
    <a asp-controller="Info" asp-action="MaggioreDiQuattrocento" class="btn btn-success d-block fs-4">Verbali di oltre 400€</a>
</div>

